<!-- another table -->
<div class="row mt-4">
    <div class="container" style="margin: auto;">
        <table style="width: 100%;">
            <thead>
                <th>S.NO</th>
                <th>NAME</th>
                <th>AGE</th>
                <th>GENDER</th>
                <th>EDUCATION</th>
                <th>ELIGIBLE</th>
                <th>EDIT</th>
                <th>DELETE</th>
            </thead>
            <tbody *ngFor="let data of stdArrays ; let i=index" id="{{i}}">
                <tr>
                    <td>{{i+1}}</td>
                    <td [ngClass]="data.status?'sucess':'danger'">{{data.name | uppercase}}</td>
                    <td>{{data.age}}</td>
                    <td>{{data.gender | uppercase}}</td>
                    <td>{{data.education}}</td>
                    <td>

                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="{{i}}" [checked]="data.status"
                                (change)="onStatusChange(data,i,$event)">
                            <label class="custom-control-label" for="{{i}}"></label>
                        </div>
                    </td>
                    <td><i id="{{i}}" class="fa-solid fa-pen-to-square" (click)="patchDetails(data,i)"></i></td>
                    <td><i id="{{i}}" class="fa-solid fa-trash" (click)="deleteData(data,i)"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-1"></div>
    <div class="col-md-11">
        <div class="row">
            <div class="col-md-9"></div>
            <div class="col-md-3" style="text-align: center;">

                <i class="fa-solid fa-plus" style="font-size: 25px;" data-toggle="modal" data-target="#myModal"></i>
            </div>
        </div>

    </div>
</div>
<!-- <img src="../../assets/images/delete.svg" alt=""> -->
<!-- modal -->
<!-- The Modal -->

<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" style="margin-left: 15%; width: 100%; ">

            <!-- Modal Header -->
            <div class="modal-header text-center">
                <h4 class="modal-title ">STUDENT DETAILS</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" id="modalPage">
                <div class="">
                    <div class="container" style="margin-left: 5%;">
                        <form action="" [formGroup]="studentForm">
                            <div>
                                <table style="width: 90%;">
                                    <thead style="margin-left: 10px;">
                                        <th>Name:</th>
                                        <th>AGE:</th>
                                        <th>GENDER:</th>
                                        <th>EDUCATION:</th>
                                        <th>ELIGIBLE:</th>
                                        <th>DELETE</th>
                                    </thead>
                                    <tbody formArrayName="details"
                                        *ngFor="let item of MultiFildeSet.controls; let i = index;">
                                        <tr [formGroupName]="i" style="padding: 10px; background-color:aliceblue;">
                                            <!--#00ffaf--><!--#19c7bd-->

                                            <td><input type="text" placeholder="Enter Name Here" formControlName="name" >
                                            </td>
                                            <td><input type="text" placeholder="Enter age Here" formControlName="age" minlength="1" maxlength="2">
                                            </td>
                                            <td>
                                                <div class="form-check-inline">
                                                    <label class="form-check-label" for="male{{i}}">
                                                        <input type="radio" class="form-check-input"
                                                            formControlName="gender" id="male{{i}}" value="male"
                                                            checked>Male
                                                    </label>
                                                </div>
                                                <div class="form-check-inline">
                                                    <label class="form-check-label" for="female{{i}}">
                                                        <input type="radio" class="form-check-input"
                                                            formControlName="gender" id="female" value="female"
                                                            checked>Female
                                                    </label>
                                                </div>
                                                <div class="form-check-inline">
                                                    <label class="form-check-label" for="others{{i}}">
                                                        <input type="radio" class="form-check-input"
                                                            formControlName="gender" id="others" value="others"
                                                            checked>Others
                                                    </label>
                                                </div>

                                            </td>
                                            <td>
                                                <select id="{{i}}" formControlName="education">
                                                    <option value="SSLC">SSLC</option>
                                                    <option value="HS">HSLC</option>
                                                    <option value="BSC">BSC</option>
                                                    <option value="MSC">MSC</option>
                                                    <option value="DIPLOMA">DIPLOMA</option>
                                                    <option value="ENGINEERING">ENGINEERING</option>
                                                </select>
                                            </td>

                                            <td>

                                                <div class="custom-control custom-switch " id="{{i}}">
                                                    <input type="checkbox" class="custom-control-input"
                                                        formControlName="status" (change)="tableStatus(MultiFildeSet)"
                                                        id="{{i}}">
                                                    <label style="cursor: pointer;" class="custom-control-label"
                                                        for="{{i}}"></label>
                                                </div>
                                            </td>

                                            <td>
                                                <i *ngIf="i>0" id="{{i}}" class="fa-solid fa-trash"
                                                    (click)="deleteRow(i)"></i>
                                            </td>


                                        </tr>
                                    </tbody>

                                </table>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer mt-1" style="padding: 10px 0;">
                <div style="margin-right: 5%; position: relative; display: flex;">
                    <div style="margin-right: 15px;"> <button type="button" style="padding: 5px 12px"
                            class="btn btn-info" data-dismiss="modal" (click)="submit(i)">Submit</button>
                    </div>

                    <div><i class="fa-solid fa-plus" style="font-size: 25px;" (click)="addRow(i)"></i></div>
                    <span></span>
                </div>

            </div>
        </div>
    </div>
</div>
<!------------------------------>
<!-- The Modal -->
<div class="modal" id="statusModal">
    <div class="modal-dialog" style="margin: auto;">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header ">
                <!-- <h2 class="modal-title text-center"></h2> -->
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body mt-1 pt-2">
                <p style="text-align: center;font-weight: bold;text-align: center;font-size: 19px;">Do you Change This
                    Status?</p>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button> -->
                <div style="margin-top: 5%;">
                    <button style="padding: 2px 13px; margin-bottom: 5px;" class="btn btn-info"
                        (click)="confirmStatus()">Yes</button>&nbsp;

                    <button style="padding: 2px 13px; margin-right: 10px; margin-bottom: 5px;" (click)="cancelStaus()"
                        class="btn btn-danger">No</button>
                </div>
            </div>

        </div>
    </div>
</div>